
					{% if (result.pub == 1) %}
					<a class="btn btn-success" onclick="bj(this)" data-bj="publish{{ result.id }}|contactPub|publish=0,id={{result.id}}">Publié</a>
					{% else %}
					<a class="btn btn-warning" onclick="bj(this)" data-bj="publish{{ result.id }}|contactPub|publish=1,id={{result.id}}">Dépublié</a>
					{% endif %}
