{% extends ajaxMode == 'false' ? 'main.html.twig' : 'empty.html.twig' %}
{%  block main %}
    <h2>Déconnexion</h2>
        <div class="alert alert-info">
            <a class="btn btn-outline-secondary" onclick="bj(this)" data-bj="main|logout">
                    Se déconnecter en tant que {{name}}</a>
        </div>
{% endblock %}
