        <div class="alert alert-success">
        <h3>Enregistrement effectué</h3>
        <a href="/post/{{id}}" class="btn btn-outline-primary" onclick="return bh(this)">Retour vers : {{title | raw}}</a>
        </div>
